<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <mvc:cors>
        <mvc:mapping path="/**" allowed-origins="*"/>
    </mvc:cors>

    <mvc:default-servlet-handler/>

    <!--配置拦截器-->
    <mvc:interceptors>
        <mvc:interceptor>
            <!--/*代表一级路径，/**代表多级路径-->
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/statics/**"/>
            <mvc:exclude-mapping path="/user/login"/>
            <mvc:exclude-mapping path="/login.html"/>
            <bean class="com.fc.interceptor.JwtInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <!--配置文件解析器-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!--上传文件的最大大小(字节)-->
                <property name="maxUploadSize" value="500000000" />
        <!--缓存-->
        <property name="maxInMemorySize" value="4096" />
        <!--默认的编码集-->
        <property name="defaultEncoding" value="defaultEncoding"/>
<!--        单个文件的最大大小(字节)-->
        <property name="maxUploadSizePerFile" value="20000000"/>
    </bean>

    <!--扫描指定路径下的所有注解-->
    <context:component-scan base-package="com.fc.controller"/>

    <mvc:annotation-driven/>
    <!--用于导入其他的配置文件-->
    <import resource="classpath:applicationContext.xml"/>
</beans>